{% extends 'admin_panel/base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="content-header">
        <nav class="breadcrumb">
            <a href="{% url 'organizations' %}">معلومات تعريفية</a>
            <i class="separator fas fa-chevron-left"></i>
        </nav>
    </div>


    <div class="actions">
        <div class="search-container">
            <form method="get" class="search-box">
                <i class="fas fa-search search-icon"></i>
                <input hx-get="{% url 'organizations' %}" hx-push-url="true" hx-target="#organizations-partial" hx-swap="innerHTML" hx-trigger="keyup changed delay:500ms" type="text" name="q" class="form-control" placeholder="بحث..." value="{{ request.GET.q }}">
            </form>
        </div>
    </div>

    <form id="bulkActionForm" method="POST" action="">
        {% csrf_token %}
        <input type="hidden" name="selected_ids" id="selectedIds">
        
        <div class="table-container">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="selectAll" class="select-all-checkbox"></th>
                            {% for field in field_names %}
                            <th>{{ field }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody id="organizations-partial">
                        {% include 'admin_panel/partials/organizations_partial.html' %}
                    </tbody>
                </table>
            </div>
        </div>

        {% include 'admin_panel/pagination.html' %}

    </form>
</div>

{% endblock %}