{% extends 'admin_panel/base.html' %}
{% load static %}


{% block content %}
<div class="content-header">
    <nav class="breadcrumb">
        <a href="{% url 'dashboard' %}">الرئيسية</a>
        <i class="separator fas fa-chevron-left"></i>
        <span>ضبط المعرض</span>
        <i class="separator fas fa-chevron-left"></i>
    </nav>
</div>

<div class="content-body">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-container">
            <div class="form-grid">
                <div class="form-section">
                    <div class="form-group">
                        <label>{{ form.value.label }} :</label>
                        {{ form.value }}
                    </div>
                </div>
                
            </div>

            <div class="form-button-container">
                <button class="btn btn-brown">
                    حفظ
                </button>
                <a href="{% url 'images-gallery' %}" class="btn btn-white">
                    إلغاء
                </a>
            </div>
        </div>
    </form>
</div>

{% endblock %}