{% extends 'admin_panel/base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="content-header">
        <nav class="breadcrumb">
            <i class="separator fas fa-chevron-left"></i>
            <a href="{% url 'organizations' %}">معلومات تعريفية</a>
        </nav>
    </div>

    <div class="search-container d-flex justify-content-center">
        <form method="get" class="search-box">
            <i class="fas fa-search search-icon"></i>
            <input type="text" name="q" class="form-control" placeholder="بحث..." value="{{ request.GET.q }}">
        </form>
    </div>


    <form id="deleteForm" method="POST" action="">
        {% csrf_token %}
        <input type="hidden" name="selected_ids" id="selectedIds">
        
        <div class="table-container">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="selectAll" class="select-all-checkbox"></th>
                            {% for field in field_names %}
                            <th>{{ field }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for organization in organizations %}
                        <tr onclick="clickHandler(event)" data-link="{% url 'organization-info' organization.id %}">
                            <td onclick="event.stopPropagation();"><input type="checkbox" class="row-checkbox" value="{{ organization.id }}"></td>
                            <td>{{ organization.id }}</td>
                            <td>{{ organization.name }}</td>    
                            <td>{{ organization.organization_type.name }}</td>
                            <td>{{ organization.commercial_register_id }}</td>
                            <td>{{ organization.createdAt }}</td>
                            <td onclick="event.stopPropagation();">
                                <div class="copy-btn-wrapper">
                                    <input type="button" class="copy-btn" data-url="{{ organization.card_url}}" value="" title="نسخ الرابط">
                                    <i class="fas fa-copy"></i>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
<!-- 
        <div class="table-controls">
            <div class="action-button-container">
                <button type="submit" class="btn btn-brown" id="deleteBtn">
                    حذف
                </button>
            </div>
        </div> -->

        {% include 'admin_panel/pagination.html' %}

    </form>
</div>

{% endblock %}