{% extends "admin_panel/QR_base.html" %}
{% load static %}

{% block title %}QR{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <div class="profile-content">
            <div class="profile-image">
                {% if organization.logo %}
                    <img width="100%" height="100%" src="{{ organization.logo.url }}" alt="صورة الملف الشخصي">
                {% else %}
                    <img width="100%" height="100%" src="{% static 'assets/images/fazaa.png' %}" alt="صورة الملف الشخصي">
                {% endif %}
            </div>
            <div class="profile-details">
                <h1 class="profile-name">{{ organization.name }}</h1>
                <p class="additional-info">{{ organization.organization_type.name }}</p>
                <button class="add-contact-btn">
                    <a href="tel:{{ shareek_phonenumber }}">إضافة إلى جهات الاتصال</a>
                </button>
            </div>
        </div>
    </div>

    <div class="contact-info">
        <div class="info-item">
            <div class="info-label">
                <label>نبذة تعريفية</label>
                <div class="info-icon">
                    <i class="fas fa-info-circle"></i>
                </div>
            </div>
            <div class="info-content">
                <p>{{ organization.description }}</p>
            </div>
        </div>
        
        <div class="info-item">
            <div class="info-label">
                <label>رقم الهاتف</label>
                <div class="info-icon">
                    <i class="fas fa-mobile-alt"></i>
                </div>
            </div>
            <div class="info-content">
                <a href="tel:{{ shareek_phonenumber }}">{{ shareek_phonenumber }}</a>
            </div>
        </div>

        <div class="info-item">
            <div class="info-label">
                <label>الموقع</label>
                <div class="info-icon">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
            </div>  
            <div class="info-content">
                {% for branch in branches %}
                <a href="https://www.google.com/maps?q={{ branch.location.x }},{{ branch.location.y }}" target="_blank">{{ branch.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}