{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}معلومات عرض{% endblock %}

{% block content %}
<div class="content-header">
    <nav class="breadcrumb">
        <a href="{% url 'client-offers' %}">عروض الأفراد</a>
        <i class="separator fas fa-chevron-left"></i>
        <span>معلومات عرض</span>
        <i class="separator fas fa-chevron-left"></i>
    </nav>
</div>

<div class="content-body">

        
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-container">

            <div class="form-grid">

                <div class="form-section">
                    <div class="form-group">
                        <label>{{ form.content.label }}:</label>
                        {{ form.content }}
                    </div>

                    <div class="form-group image-picker">
                        <label>صورة غلاف </label>
                        <input type="file" id="image-upload" name="cover" accept="image/*">
                        <div class="image-preview">
                            <img id="image-preview" width="100" height="100" src="{{ cover.url }}" alt="Preview">
                            {% if not cover.url %}
                                <div class="placeholder-text" id="placeholder-text">لا توجد صورة محددة</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{ form.template.label }}:</label>
                        {{ form.template }}
                    </div>

                </div>

                <div class="form-section">
                    <div class="form-group">
                        <label>{{ form.expiresAt.label }}:</label>
                        {{ form.expiresAt }}
                        {% if form.expiresAt.errors %}
                        <div class="form-errors">
                            {{ form.expiresAt.errors }}
                        </div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label>{{ form.organization.label }}:</label>
                        {{ form.organization }}
                    </div>  
                </div>

            </div>

        </div>

        <div class="form-button-container">
            <button class="btn btn-brown">
                حفظ
            </button>
            <a href="{% url 'client-offers' %}" class="btn btn-white">
                إلغاء
            </a>
        </div>


    </form>
</div>
<script>
$(document).ready(function() {
    $('#image-upload').on('change', function(e) {
        var file = e.target.files[0];
        var preview = $('#image-preview');
        var placeholder = $('#placeholder-text');
        
        if (file) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
                preview.attr('src', e.target.result);
                placeholder.hide();
            };
            
            reader.readAsDataURL(file);
        } else {
            placeholder.show();
        }
    });
});
</script>
{% endblock %}