{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}معلومات شركة توصيل{% endblock %}

{% block content %}
<div class="content-header">
    <nav class="breadcrumb">
        <a href="{% url 'delivery-companies' %}">شركات التوصيل</a>
        <i class="separator fas fa-chevron-left"></i>
        <span>معلومات شركة توصيل</span>
        <i class="separator fas fa-chevron-left"></i>
    </nav>
</div>

<div class="content-body">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-container">
            <div class="form-grid">
                <div class="form-section">
                    <div class="form-group">
                        <label>{{ form.name.label }}</label>
                        {{ form.name }}
                    </div>
                </div>
                <div class="form-group">
                    <label>{{ form.icon.label }} :</label>
                    <div class="image-upload">
                        {{ form.icon }}
                        <div class="upload-placeholder">اختر أيقونة</div>
                    </div>
                    {% if form.icon.errors %}
                        <div class="error-message">
                            {% for error in form.icon.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
        
        <div class="form-button-container">
            <button type="submit" class="btn btn-brown">
                حفظ
            </button>
            <a href="" class="btn btn-white">
                إلغاء
            </a>
        </div>



    </form>
</div>
{% endblock %}