{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}إضافة إشعار{% endblock %}

{% block content %}
<div class="content-header">
    <nav class="breadcrumb">
        <a href="{% url 'notifications' %}">الإشعارات</a>
        <i class="separator fas fa-chevron-left"></i>
        <span>إضافة إشعار</span>
    </nav>
</div>

<div class="content-body">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-container">
            <div class="form-grid">
                <div class="form-section">
                    <div class="form-group">
                        <label>{{ form.title.label }}:</label>
                        {{ form.title }}
                    </div>
                </div>
                <div class="form-section">
                    <div class="form-group">
                        <label>{{ form.body.label }}:</label>
                        {{ form.body }}
                    </div>  
                </div>

            </div>
        </div>  

        <div class="form-button-container">
            <button class="btn btn-brown">
                إرسال
            </button>
            <button class="btn btn-white">
                إلغاء
            </button>
        </div>


    </form>
</div>
{% endblock %}