{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}إضافة نوع منشأة{% endblock %}

{% block content %}
<div class="content-header">
    <nav class="breadcrumb">
        <i class="separator fas fa-chevron-left"></i>
        <a href="{% url 'catalogs' %}">أنواع الكتالوجات</a>
        <i class="separator fas fa-chevron-left"></i>
        <span>إضافة كاتالوج</span>
    </nav>
</div>

<div class="content-body">
    <form method="post" enctype="multipart/form-data" class="form-container">
        {% csrf_token %}
        
        <div class="form-grid">
            <div class="form-section">
                <div class="form-group">
                    <label>{{ form.catalog_type.label }} :</label>
                    {{ form.catalog_type }}
                </div>

                <div class="form-group">
                    <label>{{ form.organization.label }} :</label>
                    {{ form.organization }}
                </div>
            </div>

            <div class="form-group">
                <label>{{ form.file.label }} :</label>
                <div class="image-upload">
                    {{ form.file }}
                    <div class="upload-placeholder">اختر صورة</div>
                </div>
                {% if form.file.errors %}
                    <div class="error">{{ form.file.errors }}</div>
                {% endif %}
            </div>

        </div>

        <div class="action-button-container">
            <button class="btn btn-brown">
                حفظ
            </button>
            <button class="btn btn-white">
                إلغاء
            </button>
        </div>


    </form>
</div>
{% endblock %}