{% extends 'admin_panel/base.html' %}


{% block title %}معلومات شريك{% endblock %}

{% block content %}
<div class="content-header">
    <nav class="breadcrumb">
        <a href="">المستخدمين</a>
        <i class="separator fas fa-chevron-left"></i>
        <a href="{% url 'shareeks' %}">الشركاء</a>
        <i class="separator fas fa-chevron-left"></i>
        <span>معلومات شريك</span>
    </nav>
</div>

<div class="content-body">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-container">
            <div class="form-grid">
                <div class="form-section">
                    <div class="form-group image-picker">
                        <label>صورة  </label>
                        <input type="file" id="image-upload" name="image" accept="image/*">
                        <div class="image-preview">
                            <img id="image-preview" width="100" height="100" src="{{ image.url }}" alt="Preview">
                            {% if not image.url %}
                                <div class="placeholder-text" id="placeholder-text">لا توجد صورة محددة</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{ form.email.label }}</label>
                        {{ form.email }}
                    </div>

                    <div class="form-group">
                        <label>{{ form.organization_type.label }}</label>
                        {{ form.organization_type }}
                    </div>

                    <div class="form-group">
                        <label>{{ form.password.label }}</label>
                        <div class="password-field">
                            {{ form.password }}
                            <button type="button" class="password-toggle" data-target="{{ form.password.id_for_label }}">
                                <i class="fas fa-eye-slash"></i>
                            </button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{ form.confirm_password.label }}</label>
                        <div class="password-field">
                            {{ form.confirm_password }}
                            <button type="button" class="password-toggle" data-target="{{ form.confirm_password.id_for_label }}">
                                <i class="fas fa-eye-slash"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-section">
                    <div class="form-group">
                        <label>{{ form.full_name.label }}</label>
                        {{ form.full_name }}
                    </div>

                    <div class="form-group">
                        <label>{{ form.phonenumber.label }}</label>
                        {{ form.phonenumber }}
                    </div>

                    <div class="form-group">
                        <label>{{ form.organization_name.label }}</label>
                        {{ form.organization_name }}
                    </div>

                    <div class="form-group">
                        <label>{{ form.job.label }}</label>
                        {{ form.job }}
                    </div>

                </div>
            </div>
        </div>

        <div class="form-button-container">
            <button class="btn btn-brown">
                حفظ
            </button>
            <a href="{% url 'shareeks' %}" class="btn btn-white">
                إلغاء
            </a>
        </div>



    </form>
</div>
<script>
$(document).ready(function() {
    $('#image-upload').on('change', function(e) {
        var file = e.target.files[0];
        var preview = $('#image-preview');
        var placeholder = $('#placeholder-text');
        
        if (file) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
                preview.attr('src', e.target.result);
                placeholder.hide();
            };
            
            reader.readAsDataURL(file);
        } else {
            placeholder.show();
        }
    });
});
</script>
{% endblock %}