{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}إضافة سؤال {% endblock %}

{% block content %}
<div class="content-header">
    <nav class="breadcrumb">
        <i class="separator fas fa-chevron-left"></i>
        <a href="{% url 'common-questions' %}">الأسئلة الشائعة</a>
        <i class="separator fas fa-chevron-left"></i>
        <span>إضافة سؤال</span>
    </nav>
</div>

<div class="content-body">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-container">
            <div class="form-grid">
                <div class="form-section">
                    <div class="form-group">
                        <label>{{ form.question.label }} :</label>
                        {{ form.question }}
                        {% if form.question.errors %}
                            <div class="error">{{ form.question.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                
                <div class="form-section">
                    <div class="form-group">
                        <label>{{ form.answer.label }} :</label>
                        {{ form.answer }}
                        {% if form.answer.errors %}
                            <div class="error">{{ form.answer.errors }}</div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
        
        <div class="form-button-container">
            <button class="btn btn-brown">
                حفظ
            </button>
            <button class="btn btn-white">
                إلغاء
            </button>
        </div>

    </form>
</div>
{% endblock %}