{% extends 'admin_panel/base.html' %}

{% block title %} الأدمن {% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="content-header">
        <nav class="breadcrumb">
            <a href="{% url 'admins' %}">المستخدمين</a>
            <i class="separator fas fa-chevron-left"></i>
            <span>الأدمن</span> 
        </nav>
    </div>

    <div class="actions">
        <div class="search-container d-flex justify-content-center">
            <form method="get" class="search-box">
                <i class="fas fa-search search-icon"></i>
                <input type="text" name="q" class="form-control" placeholder="بحث..." value="{{ request.GET.q }}">
            </form>
        </div>

        <div class="actions-dropdown">
            <select id="bulkAction" onchange="handleBulkAction(this.value)">
                <option value="" selected disabled>اختر إجراء...</option>
                <option value="delete">حذف المستخدمين المحددين</option>
                <option value="deactivate">إلغاء تفعيل المستخدمين المحددين</option>
                <option value="activate">تفعيل المستخدمين المحددين</option>
            </select>
        </div>
    </div>


    <form id="deleteForm" method="POST" action="{% url 'delete-admin' %}">
        {% csrf_token %}
        <input type="hidden" name="selected_ids" id="selectedIds">
        
        <div class="table-container">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="selectAll" class="select-all-checkbox"></th>
                            {% for field in field_names %}
                            <th>{{ field }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for admin in admins %}
                        <tr onclick="clickHandler(event)" data-link="{% url 'admin-info' admin.id %}">
                            <td onclick="event.stopPropagation();"><input type="checkbox" class="row-checkbox" value="{{ admin.id }}"></td>
                            <td>{{ admin.id }}</td>
                            <td>{{ admin.full_name }}</td>
                            <td>{{ admin.phonenumber }}</td>
                            <td>{% if admin.is_active %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="table-controls">
            <div class="action-button-container">
                <a href="{% url 'add-admin' %}" class="btn btn-brown">
                    إضافة
                </a>
            </div>
        </div>

        {% include 'admin_panel/pagination.html' %}
    
    </form>
</div>

{% endblock %}