:root {
    /* Light theme variables */
    --bg-primary: #f6f6f6;
    --bg-secondary: #ffffff;
    --bg-table-header: #e6e6e6;
    --hover-bg: #e0e0e0;
    --text-primary: #494949;
    --text-secondary: #666666;
    --border-color: #e0e0e0;
    --accent-color: #B39B7D;
}

[data-theme="dark"] {
    /* Dark theme variables */
    --bg-primary: #1a1a1a;
    --bg-table-header: #333333;
    --bg-secondary: #2d2d2d;
    --hover-bg: #3d3d3d;
    --text-primary: #ffffff;
    --text-secondary: #cccccc;
    --border-color: #404040;
    --accent-color: #8B7860;
}