{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}إضافة اشتراك{% endblock %}

{% block content %}
<div class="content-header">
    <nav class="breadcrumb">
        <a href="{% url 'subscriptions' %}">باقات الاشتراك</a>
        <i class="separator fas fa-chevron-left"></i>
        <a href="{% url 'subscriptions' %}">إضافة اشتراك</a>
    </nav>
</div>

<div class="content-body">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-container">
            <div class="form-grid">
                <div class="form-section">
                    
                    <div class="form-group">
                        <label>{{ form.name.label }}</label>
                        {{ form.name }}
                        {% if form.name.errors %}
                            <div class="error">{{ form.name.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label>{{ form.price.label }}</label>
                        {{ form.price }}
                        {% if form.price.errors %}
                            <div class="error">{{ form.price.errors }}</div>
                        {% endif %}
                    </div>


                </div>

                <div class="form-section">

                    <div class="form-group">
                        <label>{{ form.days.label }}</label>
                        {{ form.days }}
                        {% if form.days.errors %}
                            <div class="error">{{ form.days.errors }}</div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
        
        <div class="form-button-container">
            <button class="btn btn-brown">
                حفظ
            </button>
            <button class="btn btn-white">
                إلغاء
            </button>
        </div>

    </form>
</div>
{% endblock %}