{% for catalog in catalogs %}
<tr onclick="clickHandler(event)" data-link="{% url 'catalog-info' catalog.id %}">
    <td onclick="event.stopPropagation();"><input type="checkbox" class="row-checkbox" value="{{ catalog.id }}"></td>
    <td>{{ catalog.id }}</td>
    <td>{{ catalog.catalog_type }}</td>
    <td>{{ catalog.organization }}</td>
    <td>{{ catalog.visits }}</td>
    <td onclick="event.stopPropagation();">
        <div class="copy-btn-wrapper">
            <input type="button" class="copy-btn" data-url="{{ catalog.short_url}}" value="" title="نسخ الرابط">
            <i class="fas fa-copy"></i>
        </div>
    </td>
</tr>
{% endfor %}