{% for image in images %}
<tr onclick="clickHandler(event)" data-link="{% url 'image-info' image.id %}">
    <td onclick="event.stopPropagation();"><input type="checkbox" class="row-checkbox" value="{{ image.id }}"></td>
    <td>{{ image.id }}</td>
    <td>{{ image.organization }}</td>
    <td>{{ image.createdAt }}</td>
    <td onclick="event.stopPropagation();">
        {% if image.image %}    
            <a href="{{ image.image.url }}" target="_blank" class="btn btn-sm btn-primary">
                <i class="fas fa-eye"></i>
            </a>
        {% endif %}
    </td>
</tr>
{% endfor %}