{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}معلومات عميل{% endblock %}

{% block content %}
<div class="content-header">
    <nav class="breadcrumb">
        <a href="">المستخدمين</a>
        <i class="separator fas fa-chevron-left"></i>
        <a href="{% url 'clients' %}">العملاء</a>
        <i class="separator fas fa-chevron-left"></i>
        <span>معلومات العميل</span>
    </nav>
</div>

<div class="content-body">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-container">
            <div class="form-grid">
                <div class="form-section">
                    
                    <div class="form-group">
                        <label>{{ form.email.label }}</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="error">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label>{{ form.phonenumber.label }}</label>
                        {{ form.phonenumber }}
                        {% if form.phonenumber.errors %}
                            <div class="error">{{ form.phonenumber.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label>{{ form.is_active.label }}</label>
                        {{ form.is_active }}
                        {% if form.is_active.errors %}
                            <div class="error">{{ form.is_active.errors }}</div>
                        {% endif %}
                    </div>

                </div>

                <div class="form-section">

                    <div class="form-group">
                        <label>{{ form.full_name.label }}</label>
                        {{ form.full_name }}
                        {% if form.full_name.errors %}
                            <div class="error">{{ form.full_name.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label>{{ form.image.label }}</label>
                        <div class="image-upload">
                            <input type="file" name="image" id="image" class="my-img">
                            <img src="{{ image.url }}" alt="image" name="image" id="image" width="50" height="50">
                            <div class="upload-placeholder">اختر صورة</div>
                        </div>
                        {% if form.image.errors %}
                            <div class="error">{{ form.image.errors }}</div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>

        <div class="form-button-container">
            <button class="btn btn-brown">
                حفظ
            </button>
            <a href="{% url 'change-password' client.id %}" class="btn btn-brown">
                تغيير كلمة السر
            </a>
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-white">
                إلغاء
            </a>
        </div>

    </form>
</div>
{% endblock %}