{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}معلومات نوع منظمة{% endblock %}

{% block content %}
<div class="content-header">
    <nav class="breadcrumb">
        <a href="{% url 'organization-types' %}">أنواع المنظمات</a>
        <i class="separator fas fa-chevron-left"></i>
        <span>معلومات نوع منظمة</span>
        <i class="separator fas fa-chevron-left"></i>
    </nav>
</div>

<div class="content-body">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-container">
            <div class="form-grid">
                <div class="form-section">
                    <div class="form-group">
                        <label>{{ form.name.label }}:</label>
                        {{ form.name }}
                    </div>
                </div>
    
            </div>
            
        </div>

        <div class="form-button-container">
            <button class="btn btn-brown">
                حفظ
            </button>
            <a href="{% url 'organization-types' %}" class="btn btn-white">
                إلغاء
            </a>
        </div>

    </form>

</div>
{% endblock %}